@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root{
    
    /*primary colours*/
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hhsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);


    /*neutral colours*/
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
   
}

*{
    margin: 0;
    padding: 0;
}

*,*::after,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

p{
    font-size: 1.5rem;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.3s ease;
}

li{
    list-style: none;
}

/* Card */

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.8rem;
    padding: 3rem 4rem;
}

/*Background colors*/
.purple{
    background-color: var(--moderate-violet);
}
.gray{
    background-color: var(--light-gray);
}
.white{
    background-color: var(--white);
}
.black{
    background-color: var(--very-dark-grayish-blue);
}